@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 400;
  color: #606060;
}

.logo {
  width: 100%;
}

.hero {
  background-image: url(./images/ta1/baneer.png);
  background-position: center;
  background-size: cover;
  z-index: 2;
  position: sticky;
}

.display-4 {
  font-weight: 700;
}

.hero::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  /* background-color: rgba(191, 207, 102, 0.8); */
  z-index: -1;
}

.hero1 {
  background-image: url(./images/eng.png);
  background-position: center;
  background-size: cover;
  z-index: 2;
  position: sticky;
}

.display-4 {
  font-weight: 700;
}

.hero1::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(22, 24, 24, 0.8);
  z-index: -1;
}

.col-img3 {
  background-image: url(./images/coolent.png);
  max-height: 50%;
  width: 50%;
  justify-content: left;
  display: flex;
}

.oil1 {
  border-right: 1px solid #474545;
}

/* .header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #74e080, #74e080);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
} */

/* .header::before {
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    opacity: .3;
    z-index: -1;
    background: linear-gradient(#B3F1BA 0%, #94E89D 0%, #90EC69 100%);
} */

/* .header-section {
    width: 100%;
    height: inherit;
    color: #fff;
    text-align: center;
    position: relative;
} */

.center-div {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-buttons a {
  border: 1px solid #fff;
  border-radius: 100px;
  margin: 0 5px;
  padding: 12px 35px;
  outline: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
}

.header-buttons a:hover {
  color: #ffff;
  background: #7b1798;
  text-decoration: none;
  box-shadow: 0 0 20px 0 #81c13d;
}

.center-div p {
  font-size: 1.3rem;
  padding: 10px 0 20px 0;
  color: #fff;
}

.header-extradiv {
  width: 100%;
  height: auto;
  margin: 100px 116px;
  text-align: center;
}
.Login{
  margin-left: 120px;
}
.log{

  color: #fff;
  font-size: 16px;
  padding: 12px 35px;
  border-radius: 50px;
  display: inline-block;
  border: 0;
  outline: 0;
  box-shadow: 0px 4px 20px 0px #49c628a6;
  background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
}


.extradiv {
  background: #f0fdf5;
  border: medium none;
  padding: 80px !important;
  border-radius: 3px;
  transition: 0.3s;
  margin: 5px;
  margin-left: 325px;
}

.header-extradivv {
  width: 80%;
  height: auto;
  margin: 100px 116px;
  text-align: center;
}

.extradivv {
  background: #f0fdf5;
  border: medium none;
  padding: 80px !important;
  border-radius: 3px;
  transition: 0.3s;
  margin: 5px 75px;
}

.extradiv:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  transform: translateY(-20px);
}

.extradiv h2 {
  font-size: 0.9rem;
  margin: 20px 0 15px 0;
  font-weight: bold;
  line-height: 1.1;
  word-spacing: 4px;
}

/* .service {
    border-right: 1px solid #c2c2c2;
} */

#navbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background: #fff(206, 63, 63);
  padding: 0;
  position: sticky;
}

.manikfont {
  font-size: 20px;
}

.navbar-brand img {
  height: 50px;
  width: auto;
  padding-left: 10px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: orange !important;
  font-weight: 600;
  float: right;
  text-align: left;
}

.fa-bars {
  color: #fff !important;
  size: 30px !important;
}

.navbar-toggler {
  outline: none !important;
}

#banner {
  /* background-image: linear-gradient(to right, #a517ba, #5f1782); */
  background: #74e080;
  color: #fff;
  padding: 5px;
}

.promo {
  font-size: 35px;
  font-weight: 700;
  margin-top: 100px;
}

.play {
  width: 45px;
  margin: 20px;
}

#banner a {
  color: #fff;
  text-decoration: none;
}

.bottom {
  width: 100%;
}

.image-fluid {
  padding-top: 122px;
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

#services {
  padding: 80px 0;
}

.serviceimg {
  width: 100px;
  margin-top: 20px;
}

.service {
  padding: 20px;
}

.service h4 {
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
}

.title::before {
  content: "";
  background: #030303;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}

.title::after {
  content: "";
  background: orange;
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(8px);
}

#section {
  padding-top: 120px;
  padding-bottom: 120px;
}

#services .btn-primary {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  background-image: linear-gradient(to right, #74e080, #74e080);
  border-radius: 20px;
}

.carousel .item {
  height: 300px;
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 200px;
}

.aboutus {
  background: #f9f8fa;
  padding-top: 50px;
  padding-bottom: 50px;
}

.abouttitle {
  font-size: 40px;
  font-weight: 600;
  margin-top: 8%;
}

.aboutus ul li {
  margin: 15px 0 0;
}

.aboutus ul {
  margin-left: 10px;
}

#testimonicals {
  margin: 100px 0;
}

.testimonicals {
  border-left: 4px solid #74e080;
  margin-top: 50px;
  margin-top: 50px;
}

.testimonicals img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0 10px;
}

.userdetails {
  display: inline-block;
  font-size: 12px;
}




#socialmedia .btn-primary {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  background-image: linear-gradient(to right, #74e080, #74e080);
  border-radius: 20px;
}

#socialmedia {
  background: #f9f8fa;
  padding: 100px 0;
}

#socialmedia p {
  font-size: 36px;
  font-size: 600;
  /* margin-bottom: 30px; */
}

.socialicon img {
  width: 60px;
  transition: 0.5s;
}

.socialicon a:hover img {
  transform: translateY(-10px);
}

#footer {
  background-image: linear-gradient(to right, #74e080, #74e080);
  color: #fff;
}

.footerimg {
  width: 100%;
}

.logo {
  height: 40px;
  width: auto;
}

.footerbox {
  padding: 20px;
}

.fa {
  margin-right: 8px;
  font-size: 25px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  /* position: static; */
  right: 2px;
  top: 9px;
}

.dropdown-submenu:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute !important;
  margin-top: 0px;
  /* margin-bottom: 50px; */
  left: 100%;
}

.footer-top {
  padding-bottom: 70px;
  padding: 90px;
  background-color: #f0fdf5;
}

.footer-img {
  height: 50px;
  width: auto;
  /* padding-left: 10px; */
}

.form {
  border: 2px solid black;
  border-radius: 10px;
}

.manik {
  color: black;
  margin-top: 13px;
  font-weight: 650;
}
.yo {
  color: orange;
}
#searchBar {
  margin-right: 555px;
  border-radius: 10px;
}
#yoy {
  margin-right: 240px;
}
.manikk {
  color: #066e1b;
  margin-top: 13px;
  font-weight: 650;
  margin-left: 19px;
}
#yoyo {
  border-color: #066e1b;
}
.heroo {
  background-image: url(./images/ta1/ban1.png);
  background-position: center;
  background-size: cover;
  z-index: 2;
  position: sticky;
}

.aboutimage {
  width: 100%;
  height: 100%;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: absolute;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 10px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
